<%@photos.each do |photo|%>
  <img src="<%=photo.link%>" height="250">
  <br>
  caption: <a href="/photos/<%=photo.id%>"> <%=photo.caption%> </a>
  <br>
  username: <%=photo.user.username%>
  <br>
  <br>
  <br>
<%end%>
