
  <%=@photo.link%>
  <br>
  <%=@photo.caption%>
  <br>
  <br>
  <a href="/photos/<%=@photo.id%>/edit">Edit</a>
  <br>
  <form action="/photos/<%= @photo.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
