
<!doctype html>
<html>
  <head>
    <title>Fakestagram</title>
  </head>
  <body>

<h1>Fakestagram</h1>
<br>
<h4>Menu</h4>
<ul id="nav">
            <li><a href="/" title="home">Home</a></li>
            <li><a href="/photos" title="photos">Photos</a></li>
            <li><a href="/login" title="login">Login</a></li>
            <li><a href="/users/new" title="create account">Create an Account</a></li>
</ul>

<br>
<br>
    <%= yield %>

  </body>
</html>
